<div class="welcome">
  <div class="img_container">
    <img src="https://avatars.githubusercontent.com/u/87798660?v=4" alt="" />
  </div>
  <div class="name">
    <p class="title">Tania<br>Rodríguez</p>
    <div class="container">
    <h1 class="subtitle">Desarrolladora Front end . <span>&#160;</span></h1>
  </div>
  <button class="button">
    <a href="about" class="a">
      Más sobre mi
    </a>
    <div class="button__horizontal"></div>
    <div class="button__vertical"></div>
  </button>
  </div>
</div>