<link
  href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap"
  rel="stylesheet"
/>
<div class="layout">
  <input
    name="nav"
    type="radio"
    class="nav home-radio"
    id="home"
    checked="checked"
  />
  <div class="page home-page">
    <div class="page-contents">
      <h1>Sobre mi</h1>
      <p class="about">
        <p>¡Hola, ¿Cómo estás?<p>Me llamo Tania, tengo 34 años y vivo en Oviedo, Asturias.<br>
             He tomado la decisión de darle un giro a mi
        trayectoria laboral emprendiendo un nuevo camino como desarrolladora
        Front End y me alegro mucho de haberlo hecho porque realmente  me apasiona
        <img src="assets/img/me-gusta.png" width="12px" /><br />
        Pongo dedicación y cuidado en el trabajo, intento aportar ideas y dedico
        tiempo a aprender. <br />Tengo una actitud positiva y me adapto bien
       a los cambios.<br />
        Desde que empecé mi andadura en el campo del desarrollo he ido sumando
        nuevas habilidades y he potenciado las que ya tenía . Actualmente, mi
        prioridad está centrada en afianzar y aumentar mis conocimientos. Me
        encantaría poder enfrentarme a nuevos retos junto a una empresa que me
        ayude a consolidar mis aprendizajes trabajando en proyectos interesantes
        en los que pueda seguir adquiriendo más habilidades que brinden
        estabilidad a mi carrera profesional.
      </p>
      <p><label for="about">Ver Más</label></p>
    </div>
  </div>
  <label class="nav" for="home">
    <span>
      <svg
        viewBox="0 0 24 24"
        width="24"
        height="24"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="css-i6dzq1"
      >
        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
        <polyline points="9 22 9 12 15 12 15 22"></polyline>
      </svg>
      Sobre mi
    </span>
  </label>

  <input name="nav" type="radio" class="about-radio" id="about" />
  <div class="page about-page">
    <div class="page-contents">
      <h2>
        BOOTCAMP<span style="color: rgb(233, 233, 108)"> FULLSTACK </span
        >FACTORÍA F5 2022
      </h2>
      <p>
        Formación intensiva basada en el trabajo en equipo, desarrollando
        diversos proyectos reales y trabajo con metodologías Agile.
      </p>
      <p>
        Creación de mockups y prototipos en Figma, metodología de proyectos
        Atomic Design
      </p>
      <p>
        Front-end con HTML, CSS, Js, nodeJs, NPM, Sass, Bootstrap, Tailwind y
        Angular.
      </p>
      <p>
        Back-end con PHP como stack principal, Blade, OOP, APIs, Composer y
        Laravel. Gestión de bases de datos (MySQL).
      </p>
    </div>
    <div class="page-contents">
      <h2>
        CURSO<span style="color: rgb(233, 233, 108)"> FRONT-END </span>FACTORÍA
        F5 2021
      </h2>
      <p>
        Metodología por proyectos mediante herramientas de gestión grupal y
        trabajo colaborativo.
      </p>
      <p>
        Experiencia de persona usuaria y diseño de interfaces basadas en
        componentes.
      </p>
   
      <p>Responsive web design y maquetación.</p>
    </div>
</div>
<label class="nav" for="about">
    <span>
      <svg
        viewBox="0 0 24 24"
        width="24"
        height="24"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="css-i6dzq1"
      >
        <circle cx="12" cy="12" r="10"></circle>
        <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
        <line x1="12" y1="17" x2="12" y2="17"></line>
      </svg>
      Formación
    </span>
  </label>

  <input name="nav" type="radio" class="contact-radio" id="contact" />
  <div class="page contact-page">
    <div class="page-contents">
      <h1>Contacto</h1>
  
          <div class="icon">
              <img src="assets/img/tlf.png"alt=""><h3>622528102</h3>
          </div>
           <div class="icon">
              <img src="assets/img/email.png" alt=""><h3>taniacsif@gmail.com</h3>
          </div>
            <div class="icon">
              <img src="assets/img/linkedin.png" alt=""><h3>tania-rodríguez-fernández</h3>
          </div>
            <div class="icon">
              <img src="assets/img/github.png" alt=""><h3>https://github.com/TaniaRodriguezFdez</h3>
          </div>

    
      <p><a href="#">volver</a></p>
    </div>
  </div>
  <label class="nav" for="contact">
    <span>
      <svg
        viewBox="0 0 24 24"
        width="24"
        height="24"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="css-i6dzq1"
      >
        <path
          d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"
        ></path>
      </svg>
      Contacto
    </span>
  </label>
</div>
